.navbar {
  background-color: #301768;
}

.span-nav-link {
  color: rgb(255, 255, 255);
}

.bgimage {
  width: 100%;
  height: 100vh;
  background: url("./assets/download.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.jumb {
  padding: 35vh 0;
  background-color: #ffffff00;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #fff;
}

.hero-white-h1 {
  font-weight: 800;
  font-size: 4rem;
}

.hero-gold-h1 {
  font-weight: 800;
  font-size: 6rem;
  color: rgb(226, 192, 0);
}

.hero-coin-img {
  width: 90%;
  margin: 15% 0 0 0;
}

.hero-coin-img {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

.AllCryptoCarosel,
.AllCryptoTable {
  background-color: #301768;
}

.AllCryptoCaroselImg {
  width: 90%;
  padding: 5%;
}

.AllCryptoCaroseText {
  margin: 2% 0;
}

.AllCryptoCaroseTextHeading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 5% 0;
  color: gold;
}

.AllCryptoCaroseTextCurrentPrice {
  font-size: 0.7rem;
}

.AllCryptoCard {
  width: 90%;
  height: 220px;
  background-color: #301768;
  border: 2px solid gold;
}

.SingleCrypto {
  background-color: #301768;
}
